
	<style>
		a {
			color: #C4E1FF;   
		}
		body {
			text-align: center;
			color: #f8f8f8;
			background: url(/assets/_intro-bg.jpg) no-repeat center;
			background-size: cover;
			font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    		font-weight: 600;
    		font-size: 16px;

		}
		form {
			border: 2px;
			border-color: #D2E9FF;
			border-style: solid;
			border-radius: 4px;
			margin: 130px 170px 40px 170px;
			width:auto;
			padding: 20px;
		}
		button {
			margin: 40px;
			padding: 8px;
			width: 29%;
			background-color: transparent;
			border: 2px #C4E1FF;
			border-style: solid;
			border-radius: 4px;
			color: #C4E1FF;
			font-size: 16px;
		}
		input {
			padding: 5px;
			width: 300px;
		}
		#con {
			font-size: 16px;
		}
		.navbar {
			background-color: transparent;
			color: #C4E1FF;
			border: none;
		}
	</style>

<div class="col-md-12">
<div id="con">
	<form>
		<p>Account ID:</p>
		<input type="text" placeholder="your ID" required>
		<p>Password:</p>
		<input type="text" required>
		<p>E-mail:</p>
		<input type="text" required>
		<p>Area:</p>
		<input type="text" placeholder="kyoto city">
		<br>
		<button type="submit">Apply now</button>
	</form>	
	<span>Already have an account? <%= link_to 'Click', login_path %> to sign in! </span>
	<span>Or <%= link_to "apply later!", welcome_index_path %></span>
</div>
<div class="col-md-12">

