// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#review_body {
  margin-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
}

.banner {
	margin-top: 50px;
}

#article {
	margin-top: 50px;
}

#content {
	margin-top: 70px;
	padding-right: 50px;
  	padding-left: 50px;
}